.left-side {
    background-color: rgb(46, 46, 46);
    padding-bottom: 30em;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 0;
    border-radius: 1em;
}

.centered-txt {
    text-align: center;
}

.centered-img {
    padding-left: 20%;
}

.round-img {
    height: 15em;
    width: auto;
    border-radius: 50%;
}

